<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>FileRouge1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>CreationClient</servlet-name>
  	<servlet-class>metier.CreationClient</servlet-class>
  </servlet>
  
   <servlet>
  	<servlet-name>CreationCommande</servlet-name>
  	<servlet-class>metier.CreationCommande</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>CreationClient</servlet-name>
  	<url-pattern>/CreationClient</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>CreationCommande</servlet-name>
  	<url-pattern>/CreationCommande</url-pattern>
  </servlet-mapping>
  
</web-app>